@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Raleway:wght@500&display=swap');
*
{
    margin:0;
    padding: 0;
    border: px solid white;
}
body{
    margin: 0;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
} 
 
.code-snippet 
{
    margin: 0;
    font-size: 14px;
    background-color:rgba(61, 61, 61, 0.39);
    display: inline-block;
    width: fit-content;
    padding: 10px;
}
.save
{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
.look{
    border: 1px solid grey;
    border-radius: 15px 15px 0 0;
    background-color: rgb(14, 13, 13);
}
.code-snippet {
    border-collapse: collapse;
    border-radius: 0 0 15px 15px;
}
.code-result {
    height: fit-content;
  }
.header {
    text-align: center;
}
footer{
    text-align: center;
}
span {
    letter-spacing: .1em;
}
.highlighted {
    color: rgb(252, 5, 66);
}
.upper {
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 0em;
}
.look {
    display: flex;
    align-items: center;
    padding: 7px 0 7px 15px;
    justify-content: space-between;
}
.uiBtns {
    display: flex;
    gap: 10px;
}
.window-header {
    padding-right: 15px;
}
.btn {
    width: 13px;
    height: 13px;
    border-radius: 10px;
}
.orange {
    background-color: rgb(253, 195, 86);
}
.green {
    background-color: rgb(127, 253, 101);
}
.red {
    background-color: rgb(250, 70, 70);
}
.code, .code-result {
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 2px 17px rgb(126, 125, 125);
}
.header-container, .footer-container {
    background-color: rgb(197, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    color: black;
    font-family: 'Baloo 2';
    text-transform: uppercase;
    text-shadow: 0 0 12px white;
}

/* .window-header {
    background-color: rgb(44, 44, 44);
    color: rgb(253, 253, 253);
    border-radius: 5px;
    height: 20px;
}

b{
    padding-top: 20px;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
} */

.code-snippet-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

@media only screen and (max-width: 854px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .code-snippet-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 10px 0 10px 0;
        width: 75%;
    }
    .snippet-container {
        overflow-x: scroll;
    }
    .code-snippet::-webkit-scrollbar {
        width: 2px !important;
    }
    .code-snippet{
        overflow: -moz-scrollbars-none;
    }
    .header-container, .footer-container {
        height: 40px;
    }
}